# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 2bbba4661883559c5e9a7aabf680a966d37f4f29fb293f3864340fa18a1de9307374c633b64d969b5878c72815822401b3c441009542b0bf0a94cc0a46b0bfab

test:
  secret_key_base: 23872ff39d573d2c0464b9d975446f97024910f884a46411ab08d1e30a1bdca371966a4eaf40d33ff2376c33b185a1f85ec06a95d9ed8500924d72d821390425

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
